# Node.js (في حال تم استخدامه في المستقبل)
node_modules/

# macOS (لإخفاء ملفات النظام)
.DS_Store

# Windows (لإخفاء ملفات النظام الخاصة بـ Windows)
Thumbs.db

# ملفات بيئة العمل
.env

# إعدادات بيئات تطوير متكاملة (IDE) مثل Visual Studio Code و IntelliJ
.vscode/
.idea/

# ملفات النظام المؤقتة
*.swp
*.bak
*.log

# مجلدات البناء
/build/
/dist/
